SECRET_KEY = "нужно сгенироваровать секретный ключ"
DATABASE_URL=postgresql+asyncpg://your_login:your_password@db:5432/db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=strong_password
POSTGRES_DB=your_db
